<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paper.persistance.mapper.NoticeMapper">

	<select id="getNoticeList" resultType="Notice_infoDTO">
		<![CDATA[
			SELECT 
				NOTICE_NO,
				NOTICE_TITLE,
				DATE_FORMAT(EXHIBITION_DATE,'%Y-%m-%d') AS EXHIBITION_DATE,
				DATE_FORMAT(RECEPTION_DATE, '%Y-%m-%d') AS RECEPTION_DATE,
				DATE_FORMAT(END_DATE,'%Y-%m-%d') AS END_DATE,
				IF(RECEPTION_DATE<=NOW() AND NOW()<=END_DATE, "접수중", IF(NOW()<RECEPTION_DATE, "접수전", "접수종료")) AS STAT
			FROM NOTICE_INFO
			ORDER BY NOTICE_NO DESC
		]]> 
	</select>
	
	<select id="getNowNoticeList" resultType="Notice_infoDTO">
		<![CDATA[
			SELECT 
				NOTICE_NO,
				NOTICE_TITLE,
				DATE_FORMAT(EXHIBITION_DATE,'%Y-%m-%d') AS EXHIBITION_DATE,
				DATE_FORMAT(RECEPTION_DATE, '%Y-%m-%d') AS RECEPTION_DATE,
				DATE_FORMAT(END_DATE,'%Y-%m-%d') AS END_DATE
			FROM NOTICE_INFO
			WHERE RECEPTION_DATE <= NOW() AND NOW() <= END_DATE
			ORDER BY NOTICE_NO DESC
		]]> 
	</select>
	
	
	<select id="selectNotice" resultType="Notice_infoDTO" parameterType="Notice_infoDTO">
		<![CDATA[
			SELECT 
				NOTICE_NO,
				NOTICE_TITLE,
				DATE_FORMAT(EXHIBITION_DATE,'%Y-%m-%d') AS EXHIBITION_DATE,
				DATE_FORMAT(RECEPTION_DATE, '%Y-%m-%d') AS RECEPTION_DATE,
				DATE_FORMAT(END_DATE,'%Y-%m-%d') AS END_DATE,
				IF(RECEPTION_DATE<=NOW() AND NOW()<=END_DATE, "접수중", IF(NOW()<RECEPTION_DATE, "접수전", "접수종료")) AS STAT
			FROM NOTICE_INFO
			WHERE NOTICE_NO = #{notice_no}
		]]> 
	</select>
	
	<insert id="insertNotice" parameterType="Notice_infoDTO">
		INSERT INTO NOTICE_INFO (
			NOTICE_TITLE,
			RECEPTION_DATE,
			END_DATE,			
			EXHIBITION_DATE,
			REG_USER_NO,
			REG_DT
		)VALUES(
			#{notice_title},
			#{reception_date},
			#{end_date},
			#{exhibition_date},
			#{reg_user_no},
			NOW()
		)
	</insert>
	<delete id="deleteAdminAllCheck" parameterType="Notice_infoDTO">
		DELETE FROM NOTICE_INFO WHERE NOTICE_NO IN
		<foreach item="notice_no" index="index" collection="allCheck"
			open="(" separator="," close=")">#{notice_no}</foreach>
	</delete>
	<select id="getNoticeDetail" parameterType="Notice_infoDTO" resultType="Notice_infoDTO">
		SELECT 
			NOTICE_NO,
			NOTICE_TITLE,
			DATE_FORMAT(EXHIBITION_DATE,'%Y-%m-%d') AS EXHIBITION_DATE,
			DATE_FORMAT(RECEPTION_DATE, '%Y-%m-%d') AS RECEPTION_DATE,
			DATE_FORMAT(END_DATE,'%Y-%m-%d') AS END_DATE
		FROM NOTICE_INFO
		WHERE NOTICE_NO = #{notice_no}
	</select>
	
	<update id="updateMergeFile" parameterType="Notice_infoDTO">
		UPDATE NOTICE_INFO SET FILE_NAME=#{file_name} , FILE_PATH=#{file_path} WHERE NOTICE_NO = #{notice_no}
	</update>
	
	<select id="getFileDown" parameterType="Notice_infoDTO" resultType="Notice_infoDTO">
		SELECT NOTICE_TITLE,FILE_NAME, FILE_PATH FROM NOTICE_INFO WHERE NOTICE_NO = #{notice_no}
	</select>
</mapper>