<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paper.persistance.mapper.PaperMapper">
	<insert id="insertPaperInfo" parameterType="Paper_infoDTO">
		INSERT INTO PAPER_INFO
		(
			NOTICE_NO,
			PAPER_KOR,
			PAPER_ENG,
			USER_NO,
			PAPER_TYPE,
			FILE_ORG_NAME,
			FILE_NAME,
			FILE_PATH,
			PAPER_AD,
			REG_USER_NO,
			REG_DT
		)
		VALUES
		(
			CONVERT(#{notice_no}, UNSIGNED),
			#{paper_kor},
			#{paper_eng},
			#{user_no},
			#{paper_type},
			#{file_org_name},
			#{file_name},
			#{file_path},
			#{paper_ad},
			#{user_no},
			NOW()
		)
	</insert>
	<insert id="insertWriterInfo" parameterType="list">
		INSERT INTO WRITER_INFO
		(
			NOTICE_NO,
			PAPER_NO,
			WRITER_NAME,
			WRITER_EMAIL,
			WRITER_BELONG,
			REG_USER_NO,
			REG_DT
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
		(
			#{item.notice_no},
			(SELECT PAPER_NO FROM PAPER_INFO WHERE USER_NO = #{item.reg_user_no} ORDER BY REG_DT DESC LIMIT 1),
			#{item.writer_name},
			#{item.writer_email},
			#{item.writer_belong},
			#{item.reg_user_no},
			NOW()
		)
		</foreach>
	</insert>
	
	<select id="getPaperList" parameterType="Paper_infoDTO" resultType="Paper_infoDTO">
			SELECT 
			P.NOTICE_NO, P.PAPER_NO, P.PAPER_KOR, P.PAPER_ENG, PC.PCODE_CONTENTS AS PAPER_TYPE,
			U.USER_NAME, C.CODE_CONTENTS AS PAPER_AD, P.FILE_NAME, P.FILE_PATH, DATE_FORMAT(P.REG_DT,'%Y-%m-%d') AS REG_DT
			FROM PAPER_INFO P, USER_INFO U, CODE_INFO C, PCODE_INFO PC
			WHERE P.USER_NO = U.USER_NO AND P.PAPER_AD = C.CODE_NO AND PC.PCODE_NO = P.PAPER_TYPE AND P.NOTICE_NO = #{notice_no} AND P.PAPER_AD = #{paper_adV}
	</select>
	<update id="updatePaperAd">
		UPDATE PAPER_INFO SET PAPER_AD = #{paper_ad} WHERE PAPER_NO = #{paper_no}
	</update>
	<update id="updateCheckAd" parameterType="Paper_infoDTO">
		UPDATE PAPER_INFO SET PAPER_AD = #{paper_ad} WHERE PAPER_NO IN
		<foreach item="paper_no" index="index" collection="allCheck" open="(" separator="," close=")">
			#{paper_no}
		</foreach>
	</update>
	
</mapper>